h1,h2,p,li,span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

h2{
    color:#005677;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: #C4C4C4;
    width: 1041px;
}



.fondo-header{
    background-color:#E5E5E5;
    height: 189px;
    width: 1440px;
}

.cinta-de-header{
    background-color: #C4C4C4;
    height: 60px;
    top: 188px;
    width: 1440px;
}

h1{
    color:#005677;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.4em;
    line-height: 29.64px;
    text-align: center;
    text-transform: uppercase;
}

.nombre-item{
    font-weight: 700;
    font-style: italic;
}

.banda-footer{
    background: #005677;
    width: 1440px;
    height: 37px;
    left: 0px;
    top: 987px;
}

.span-footer{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}